
.captionTitle{
    font-size: 2em;
    font-weight: bold;
    background-color: black;
    padding: 5px;
}

.caption{
    background-color: black;
    font-size: 1em;
}

.rating{
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    color: goldenrod;
    padding: 7px 7px 0 7px;
    text-shadow: 1px 1px goldenrod;
}

@media only screen and (max-width: 1200px){
    .captionTitle{
        font-size: 1.5em;
    }
    .caption{
        font-size: 1em;
    }
}


@media only screen and (max-width: 992px){
    .captionTitle{
        font-size: 1em;
    }
    .caption{
        font-size: 0.5em;
    }
}

@media only screen and (max-width: 512px){
    .captionTitle{
        font-size: 1em;
    }
    .caption{
        display: none;
    }
}