.title{
    margin-top: 30px;
}

.font_manager{
    margin-top: 10px;
}

@media only screen and (max-width:1200px) and (min-width:768px){
    .title{
        font-size: 27px;
    }
    .font_manager{
        font-size: 15px;
    }
}

@media only screen and (max-width:770px){
    .title{
        font-size: 28px;
    }
    .font_manager{
        font-size: 15px;
    }
    .poster{
        display: none;
    }
}

/* movie actor carousel */

